<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.css') }}">
</head>
<body>
    
    <header>
        <div class="nav">
            <ul class="items">
                <li class="name">ALAN-K</li>
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="/logInC">Log in</a></li>
                <li class="item"><a href="/signUpS">Become a Seller</a></li>
            </ul>
            <div class="search">
                <input type="text" name="search" id="searchInput" placeholder="What are you looking for?">
                <label for="searchInput">Search</label>
                <div id="searchResults"></div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="col">
            <p><u>Share your views now!</u></p>
            <a href="https://twitter.com/" target="_blank">Twitter</a><br>
            <a href="https://www.google.com/" target="_blank">Google</a><br>
            <a href="https://www.instagram.com/" target="_blank">Instagram</a><br>
            <a href="https://www.facebook.com/" target="_blank">Facebook</a><br><br><br><br>
            <p><u>Contact us!</u></p>
            <a href="mailto:sakshi@gmail.com">Email</a><br>
            <a href="https://www.instagram.com/" target="_blank">Instagram</a> at @alan_k<br><br><br><br><br>
            Write your reviews or suggestions below
            <textarea id="reviews" name="reviews" rows="4" cols="25"></textarea>
        </div>
        <div class="col">
             <div id="searchResults"></div>
             <hr>
            {% if allPro %}
            <div class="container2">
                    {% for pro in allPro %}
                        <div class="card" style="width: 18rem;">
                            <div class="img-container common-img-container" style="background-image: url({{ url_for('static_dir', path='pictures/thumbs/' + pro.filename) }})">
                                {% if pro.filename %}
                                    <img src="{{ url_for('static_dir', path='pictures/products/' + pro.filename) }}" class="card-img" alt="{{pro.pName}}" onclick="openFullImg(this.src)" loading="lazy">
                                {% else %}
                                    <img src="{{ url_for('static_dir', path='pictures/products/') }}" class="card-img" alt="{{pro.pName}}" onclick="openFullImg(this.src)" loading="lazy">
                                {% endif %}                                
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <h3 class="card-title">{{pro.pName}}</h3>
                                    <p class="card-text item-description">{{pro.desc}}</p>
                                    <p class="card-text category-label">{{pro.category}}</p>
                                    <div class="price-container">
                                        <p class="card-text discount-card-price">&#x20B9;{{pro.price + (pro.price * 0.2)|round|int}}</p>
                                        <p class="card-text card-price">&#x20B9;{{pro.price}}</p>
                                    </div>
                                    <form method="POST" action="{{ url_for('addToCart', id=pro.id) }}">
                                        <button type="submit" class="addToCart card-button">Add to cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}    
            </div>
            {% endif %}
        </div>   
</div>
<div class="pop-up" id="fullImgBox">
    <img src="" class="card-img" alt="" id="fullImg">
    <span onclick="closeFullImg()">&times;</span>
</div>
<script src="{{ url_for('static', filename='javascript/lightbox.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/lazyImages.js') }}"></script>
</body>
</html>