<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.css') }}">
    <title>Home page</title>
    <header>
        <div class="nav">
            <ul class="items">
                <li class="name">ALAN-K</li>
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="/logInC">Log in</a></li>
                <li class="item"><a href="/signUpS">Become a Seller</a></li>
            </ul>
            <div class="search">
                <input type="text" name="search" id="searchInput" placeholder="What are you looking for?">
                <label for="searchInput">Search</label>
                <div id="searchResults"></div>
            </div>
        </div>
    </header>
        <div class="bg">
            <div class="bg-img-container bg-img-container-first common-img-container">
                <img src="{{ url_for('static_dir', path='pictures/banner1.png') }}" alt="Banner Image promoting green color" loading="lazy">
            </div>
            <div class="bg-img-container bg-img-container-second common-img-container">
                <img src="{{ url_for('static_dir', path='pictures/banner2.png') }}" alt="Banner Image for 50% discount offer" loading="lazy">
            </div>
        </div>       

    {% if allPro %}
    <div class="container">
            {% for pro in allPro %}
                <div class="card" style="width: 18rem;">
                    <div class="img-container common-img-container" style="background-image: url({{ url_for('static_dir', path='pictures/thumbs/' + pro.filename) }})">
                        {% if pro.filename %}
                            <img src="{{ url_for('static_dir', path='pictures/products/' + pro.filename) }}" class="card-img" alt="{{pro.pName}}" onclick="openFullImg(this.src)" loading="lazy">
                        {% else %}
                            <img src="{{ url_for('static_dir', path='pictures/products/') }}" class="card-img" alt="{{pro.pName}}" onclick="openFullImg(this.src)" loading="lazy">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <h3 class="card-title">{{pro.pName}}</h3>
                            <p class="card-text item-description">{{pro.desc}}</p>
                            <p class="card-text category-label">{{pro.category}}</p>
                            <div class="price-container">
                                <p class="card-text discount-card-price">&#x20B9;{{pro.price + (pro.price * 0.2)|round|int}}</p>
                                <p class="card-text card-price">&#x20B9;{{pro.price}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}    
        {% endif %}
    </div> 
    <div class="pop-up" id="fullImgBox">
        <img src="" class="card-img" alt="" id="fullImg">
        <span onclick="closeFullImg()">&times;</span>
    </div>

    <script src="{{ url_for('static', filename='javascript/lightbox.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/lazyImages.js') }}"></script>
</body>
</html>