<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Your products</title>
</head>
<body>
    {% block content %}
    <div class="nav">
        <ul class="items">
        <li class="item"><a href="/sell">Your products</a></li>
        <li class="item"><a href="/addProduct">Add a new product</a></li>
        <li class="item"><a href="/PI">Personal Information</a></li>
        <li class="logout"><a href="/logout">Log out</a></li>
        </ul>
    </div>
    <div class="container">
        {% if allPro|length==0 %}
        <div class="alert">No product added yet. Add a new product.</div>
        {% else %}
            {% for pro in allPro %}
                <div class="card" style="width: 18rem;">
                    <div class="img-container common-img-container" style="background-image: url({{ url_for('static_dir', path='pictures/thumbs/' + pro.filename) }})">
                        {% if pro.filename %}
                                <img src="{{ url_for('static_dir', path='pictures/products/' + pro.filename) }}" class="card-img" alt="{{pro.pName}}" loading="lazy">
                        {% else %}
                            <di
                            <img src="{{ url_for('static_dir', path='pictures/products/') }}" class="card-img" alt="{{pro.pName}}" loading="lazy">
                        {% endif %}   
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <p class="card-text">
                                <span class=" item-index">
                                    {{loop.index}}
                                </span>
                            </p>
                            <h3 class="card-title">{{pro.pName}}</h3>
                            <p class="card-text item-description">{{pro.desc}}</p>
                            <div class="price-container">
                                <p class="card-text discount-card-price">&#x20B9;{{pro.price + (pro.price * 0.2)|round|int}}</p>
                                <p class="card-text card-price">&#x20B9;{{pro.price}}</p>
                            </div>
                            <p class="card-text category-label">{{pro.category}}</p>
                            <div class="button-container">
                                <a href="/edit/{{pro.id}}" class="card-button">Edit</a>
                                <a href="/delete/{{pro.id}}" class="card-button">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}    
        {% endif %} 
    </div> 
    {% endblock content %}
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/lazyImages.js') }}"></script>

</body>
</html>